[Desktop Entry]
Version=1.0
Type=Application
Name=eXaDrums (root)
Icon=eXaDrums
Exec=/usr/share/eXaDrums/exadrums-root
Comment=Drum module for Linux.
Categories=AudioVideo;Utility;
Terminal=true
Name[en_GB]=eXaDrums (root)
