Source: exadrums
Section: sound
Priority: optional
Maintainer: Jeremy Oden <jerem.oden@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: http://www.freewebmaster.fr
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/exadrums.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/exadrums.git

Package: exadrums
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Drum module For Linux
 A drum module software for Linux.
